body {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* Section A */
.section-a {
    background-color: #1F2937;
}

.container-a {
}

.top-section,
.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px 50px 100px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
   list-style-type: none;
   display: flex;
   gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.bottom-section {
    gap: 50px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    flex: 1;
}

h4 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    padding: 5px 20px;
    
}

.right-section {
    background-color: gray;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    padding: 100px;
}

/* Section B */
.container-b {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 100px
}

.card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: 5px solid #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.sub-text {
    width: 100%;
    text-align: center;
}

/* Section C */
.container-c {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
}

.text-c {
    padding: 100px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

figcaption {
    text-align: right;
    font-weight: 900;
}



/* Section D */
.container-d {
    margin: 0 auto;
    background-color: #3882F6;
    padding: 70px 200px;
    margin: 100px;
    display: flex;
    justify-content: space-between;
}

.cta {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 300;
}

.cta-text {
    color: #E5E7EB;
    font-size: 18px;
}

#button-d {
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    align-self: center;
    padding: 5px 30px;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-shrink: 0;
    margin-top: auto;
}

.section-b,
.section-c,
.section-d,
.footer {
    width: 1200
}